.sidebar {
    /* width: 250px; */
    width: 275px;
    height:100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    margin-top:14vh; 
  }

  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1px;
    font-size: 18px;
    color:white;
  }

.menu{
  position:fixed;
  background:white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  height:100vh;
  flex-direction: column;
  width: 275px;
  color: #333;
  display: flex;
  transition: all 0.3s ease-in-out;
  top:78px;
}

  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: black;
    gap: 7%;
    text-decoration:none;
    margin-left:-15%
  }
  
  .menu-item:hover {
    /* background: rgba(0, 0, 0, 0.1); */
    background: #9d9dab;
    background: linear-gradient(90deg, rgba(157, 157, 171, 1) 35%, rgba(227, 232, 232, 1) 100%);
  }
  
  .menu-item.active {
    background: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  .footer {
    margin-top: 10px;
    padding: 0px;
    border-top: 1px solid rgba(35, 31, 31, 0.1);
  }
  
  .toggle-button {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .toggle-button:hover {
    background: rgba(95, 24, 218, 0.1);
  }
  
  .submenu {
    list-style: none;
    padding-left: 30px;
    margin-top: 5px;
  }
  
  .submenu-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .submenu-item:hover {
    transition: background 0.3s ease;
  }
  
  .submenu-icon {
    margin-right: 8px;
  }
  